 <div class="row auth">
     <div class="col s12">
         <ul class="tabs">
             <li class="tab col s6"><a class="active" href="#login">Войти</a></li>
             <li class="tab col s6"><a href="#register">Регистрация</a></li>
         </ul>
     </div>
     <div id="login" class="col s6 offset-s3">
       {{#if loginError}}
         <p class="alert">{{loginError}}</p>
         {{/if}}
          {{#if passError}}
         <p class="alert">{{passError}}</p>
         {{/if}}
         

         <h3>Войти в магазин</h3>
         <form action="/auth/login" method="post">
             <div class="input-field col s12">
                 <input id="email" name="email" type="email" class="validate" required>
                 <label for="email">Email</label>
                 <span class="helper-text" data-error="Введите Email" data-success="right"></span>
             </div>
             <div class="input-field col s12">
                 <input id="password" name="password" type="password" class="validate" required>
                 <label for="password">Введите пароль</label>
                 <span class="helper-text" data-error="Введите пароль" data-success="right"></span>
             </div>
             <button class="btn btn-primery">Войти</button>
         </form>

     </div>
     <div id="register" class="col s6 offset-s3">
            {{#if registerError}}
         <p class="alert">{{registerError}}</p>
         {{/if}}
                
         <h3>Создать аккаунт</h3>
         <form action="/auth/register" method="post" novalidate>
             <div class="input-field col s12">
                 <input id="remail" name="email" type="email" class="validate" required>
                 <label for="remail">Email</label>
                 <span class="helper-text" data-error="Введите Email" data-success="right"></span>
             </div>
             <div class="input-field col s12">
                 <input id="name" name="name" type="text" class="validate" required>
                 <label for="name">Введите имя</label>
                 <span class="helper-text" data-error="Введите имя" data-success="right"></span>
             </div>
             <div class="input-field col s12">
                 <input id="rpassword" name="password" type="password" class="validate" required>
                 <label for="rpassword">Введите пароль</label>
                 <span class="helper-text" data-error="Введите пароль" data-success="right"></span>
             </div>

             <div class="input-field col s12">
                 <input id="confirm" name="confirm" type="password" class="validate" required>
                 <label for="confirm"> пароль еще раз</label>
                 <span class="helper-text" data-error="Введите пароль" data-success="right"></span>
             </div>
             <button class="btn btn-primery">Войти</button>
         </form>
     </div>
 </div>
 <style>
     .auth {
         padding-top: 1rem;
     }
 </style>