<h1>COURSES</h1>
{{#if error}}
<p class="alert">{{error}}</p>
{{/if}}
<form action="/courses/add-new-course" method="post" novalidate>
    <div class="input-field col s6">
          <input  id="title" name="title" type="text" class="validate"required>
          <label for="title">Название</label>
          <span class="helper-text" data-error="Введите название" data-success="right"></span>
        </div> 
        
          <div class="input-field col s6">
          <input  id="price" name="price" type="number" class="validate" required min="1">
          <label for="price">Цены</label>
          <span class="helper-text" data-error="Введите цену" data-success="right"></span>
        </div>

           <div class="input-field col s6">
          <input  id="img" name="img" type="text" class="validate"required>
          <label for="img">URL картинки</label>
          <span class="helper-text" data-error="Введите URL картинки" data-success="right"></span>
        </div>
        <button class="btn btn-primery">Дабавить курс</button>
 </form>