<H1>КУРСЫ</H1>
{{#if courses.length}}
{{#each courses}}
<div class="row ">
    <div class="col center s8 offset-3">
      <div class="card">
        <div class="card-image">
          <img src="{{img}}"> 
          <span class="card-title">{{title}}</span>
        </div>
        <div class="card-content">
                      <span class="card-title">{{title}}</span>
<p class="price">{{price}}</p>
          </div>
        <div class="card-action actions">
          <a href="/courses/{{_id}}" target="_blank">Открыть курс</a>
          {{#if @root.isAuth}}
          <a href="/courses/{{_id}}/edit?allow=true" >Редактировать  курс</a>
          <form action="/card/add" method="POST">
          <input type="hidden" name="id" value="{{_id}}">
          <button class="btn btn-primary" type="submit">Купить</button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
   {{/each}}

{{else}}
<p>Курсов пока нет</p>


{{/if}}