 <h1>Редактировать {{course.title}}</h1>

<form action="/courses/edit" method="post">
    <div class="input-field col s6">
          <input  id="title" name="title" type="text" value="{{course.title}}" class="validate"required>
          {{!-- <label for="title">Название</label> --}}
          <span class="helper-text" data-error="Введите название" data-success="right"></span>
        </div> 
        
          <div class="input-field col s6">
          <input  id="price" name="price" type="number" value="{{course.price}}"  class="validate" required min="1">
          {{!-- <label for="price">Цены</label> --}}
          <span class="helper-text" data-error="Введите цену" data-success="right"></span>
        </div>

           <div class="input-field col s6">
          <input  id="img" name="img" type="text"  value="{{course.img}}"  class="validate"required>
          {{!-- <label for="img">URL картинки</label> --}}
          <span class="helper-text" data-error="Введите URL картинки" data-success="right"></span>
        </div>
        <input type="hidden" name="id" value="{{course._id}}">
        
        <button class="btn btn-primery">Редактировать курс</button>
 </form>
 <form action="/courses/remove" method="POST">
 <input type="hidden" name="id" value="{{course._id}}">
 <button class="btn red remove-btn">Удалить курс</button>
 </form>