<h1>Profile</h1>

<div class="row">
    <div class="col s6">
        {{#if user.avatarUrl}}
        <img class="avatar"
        src="{{user.avatarUrl}}"
            alt="{{user.name}}">
        {{else}}
        <p>Аватара нет</p>
        {{/if}}
    </div>
    <div class="col s6">
        <form action="/profile" method="POST" enctype="multipart/form-data">
            <p>ВАш Email: <strong>{{user.email}}</strong></p>
            <div class="input-field">
                <input id="name" name="name" type="text" value="{{user.name}}" class="validate" required>
                <label for="name">Ваша имя</label>
                <span class="helper-text" data-error="Имя не может быть пустым" data-success="right"></span>
            </div>

            <div class="file-field input-field">
                <div class="btn">
                    <span>Avatar</span>
                    <input type="file" name="avatar">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <button type="submit" class="btn">Изменить</button>
        </form>
    </div>
</div>
<style>
    .avatar {
        width:300px;
        height: 300px;
    }
</style>